@media (min-width: 640px) and (max-width: 1024px) {
  .contact__container {
    align-items: center;
  }
}

.success-text {
  color: green !important;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

.contact-btn:hover {
  transform: scale(1.02);
}
.contact-btn {
  transition: transform 0.3s ease;
}

/* Hack pour cibler Safari */
.date-input-wrapper {
  display: flex;
  flex-direction: column; /* Aligne les éléments verticalement */
  width: 100%;
}
.date-input-wrapper input[type="date"] {
  background-color: white;
  width: 100%; /* Assure que l'input prend toute la largeur du conteneur */
  -webkit-appearance: none;
  appearance: none;
}
