@media (min-width: 640px) and (max-width: 1024px) {
  .contact__container {
    align-items: center;
  }
}

.success-text {
  color: green !important;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

/* Modifier l'input date pour safari */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    input[type="date"] {
      width: 100%;
      padding: 0.5rem;
      border-radius: 0.375rem;
      background-color: white;
    }
  }
}
