@media (min-width: 640px) and (max-width: 1024px) {
  .contact__container {
    align-items: center;
  }
}

.success-text {
  color: green !important;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

.contact-btn:hover {
  transform: scale(1.02);
}
.contact-btn {
  transition: transform 0.3s ease;
}

/* Hack pour cibler uniquement Safari */
@media not all and (min-resolution: 0.001dpcm) and (min-width: 0.1em) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    input[type="date"] {
      width: 100%;
      padding: 12px;
      border-radius: 0.375rem;
      background-color: white;
      font-size: 1rem;
      border: 1px solid #ccc; /* Ajouter une bordure pour Safari */
      box-sizing: border-box; /* Assurer que la largeur inclut la bordure et le padding */
      appearance: none;
      -webkit-appearance: none;
    }
  }
}
