/* Navbar underline */
.animate-underline-green::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 4px;
  text-underline-offset: 8px;
  background-color: #04925c;
  transition: width 0.3s ease-in-out;
}
.animate-underline-green:hover::after {
  width: 100%;
}
.animate-underline-white::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 4px;
  text-underline-offset: 8px;
  background-color: #ffffff;
  transition: width 0.3s ease-in-out;
}
.animate-underline-white:hover::after {
  width: 100%;
}
.animate-underline-red::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 4px;
  text-underline-offset: 8px;
  background-color: #df2416;
  transition: width 0.3s ease-in-out;
}
.animate-underline-red:hover::after {
  width: 100%;
}

/* Arrow down animation */
.fa-chevron-down {
  animation: slideDown 2s ease-in-out forwards;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes slideDown {
  from {
    transform: translateY(0px);
    opacity: 1;
  }

  to {
    transform: translateY(10px);
    opacity: 0.3;
  }
}

/* cibler tous les téléphones en mode paysage (pour ne pas couper les éléments) */
@media screen and (max-width: 950px) and (orientation: landscape) {
  /* #hero__section {
    min-height: 200vh;
  } */
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  @supports (-webkit-touch-callout: none) {
    /* Styles spécifiques à Safari sur iOS en mode portrait */
    .span-h1__iphone {
      /* Exemple de style pour Safari en portrait */
      -webkit-text-size-adjust: 90%; /* Préfixe spécifique à Safari */
    }
    .h1__iphone {
      -webkit-text-size-adjust: 83%;
    }
  }
}
