/* ! General */
html {
  scroll-behavior: smooth;
}

/* Scroll bar */
body::-webkit-scrollbar {
  background-color: #303030;
  width: 16px;
}
body::-webkit-scrollbar-track {
  background: #303030;
}
body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid #6e6c6b;
}
