@import "./pages/general.css";
@import "./pages/homepage/hero.css";
@import "./pages/homepage/storyTelling.css";
@import "./pages/homepage/expertise.css";
@import "./pages/homepage/customers.css";
@import "./pages/homepage/contact.css";
@import "./pages/homepage/footer.css";
@import "./pages/legalNoticePrivacyPolicy/legalNoticePrivacyPolicy.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nav-height {
    @apply h-[calc(100svh-88px)];
  }
  .min-nav-height {
    @apply min-h-[calc(100svh-88px)];
  }
}

#cookies-banner {
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.hide {
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
}
.hide-fast {
  display: none;
  pointer-events: none;
}
