.pizzasList__cards--resize {
  width: 300px;
}

/* Pour styliser le blob : */
.blob {
  filter: blur(60px);
  position: absolute;
  z-index: -1; /* to keep it at below everything else */
  top: 60%; /* to align it at top */
  left: 10%; /* to align it at left */
  width: 250px;
  height: 250px;
  border-radius: 50%; /* to make it circular */
  background: rgb(255, 255, 255, 0.5);
}
.fakeblob {
  display: hidden;
  position: absolute;
  z-index: -1;
  top: 60%;
  left: 10%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

/* Pour avoir l'effet de lumière dans les cards : */
.bg-break-black {
  /* => card dans JS */
  transition: background 1000ms ease-in-out;
}
.break-black-20:hover > .bg-break-black {
  /* => cardWrapper dans JS */
  background: rgb(26, 26, 26, 0.6);
  backdrop-filter: blur(80px);
}
