# Gérer CORS (rediriger automatiquement toutes les requêtes qui arrivent sur votre site avec le sous-domaine www vers la version sans www) : 
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^test\.kevin-lavenant\.fr$ [NC]
RewriteRule ^(.*)$ https://www.test.kevin-lavenant.fr/$1 [R=301,L]


# Activation du module de réécriture d'URL:

Options +FollowSymlinks
# RewriteEngine on

# Forcer toutes les requêtes vers l'index principal si aucune URL n'est fournie

RewriteRule ^$ /index.html [L]

# Règles de réécriture d'URL:

RewriteRule ^accueil$ /index.html [L]
RewriteRule ^nos-emplacements$ /pages/findMe.html [L]
RewriteRule ^mentions-legales$ /pages/legalNotice.html [L]
RewriteRule ^carte-des-pizzas$ /pages/pizzasList.html [L]
RewriteRule ^politique-de-confidentialite$ /pages/privacyPolicy.html [L]
RewriteRule ^reservations-privees$ /pages/privateEvents.html [L]

# Redirections 301 pour les anciennes pages:

# TODO: revoir les redirections

# Redirect 301 / /accueil

# Redirect 301 /vente-direct/ /carte-des-pizzas

# Redirect 301 /mentions-legales-politique-de-confidentialite/ /mentions-legales

# Redirect 301 /privatisation-food-truck/ /reservations-privees
